{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "none",
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSpacing": true
}
